# SQL - Java Null Values

In [1]:
USE JavaNullDB;

In [2]:
SELECT DB_NAME();

(No column name)
JavaNullDB

In [21]:
SELECT RowID, x, y FROM dbo.tb_NullRand10;

RowID,x,y
1,2,13
2,9,3
3,5,NULL
4,5,4
5,6,11
6,NULL,19
7,10,0
8,13,NULL
9,13,7
10,2,13

In [6]:
DROP EXTERNAL LIBRARY SqlNullLib;

In [7]:
CREATE EXTERNAL LIBRARY SqlNullLib 
FROM (CONTENT = 'W:\sql-null-1.0.jar')
WITH (LANGUAGE = 'Java');

In [9]:
SELECT * FROM sys.external_libraries;

external_library_id,name,principal_id,language,scope,scope_desc
65536,JavaSDK,1,Java,0,PUBLIC
65537,JavaTest,1,Java,0,PUBLIC
65539,SqlNullLib,1,Java,0,PUBLIC

In [8]:
EXEC sp_execute_external_script
  @language = N'Java'
, @script = N'sql.NullValues'
, @input_data_1 = N'SELECT RowID, x, y FROM dbo.tb_NullRand10'
--WITH RESULT SETS((RowID int, x int, y int))

In [6]:
SELECT CAST(AVG(CAST(y AS DECIMAL(4,2)))AS DECIMAL(4,2))
FROM dbo.tb_NullRand10;

(No column name)
8.75