# Paramtest Java

## Use correct database

In [1]:
USE JavaTest;
SELECT DB_NAME();

(No column name)
JavaTest

## Drop external library

In [10]:
IF EXISTS(SELECT 1 FROM sys.external_libraries WHERE name = 'ParamTest')
BEGIN
  DROP EXTERNAL LIBRARY ParamTest;
END

## Create external library

In [11]:
CREATE EXTERNAL LIBRARY ParamTest 
FROM (CONTENT = 'W:\sql-1.0.jar')
WITH (LANGUAGE = 'Java');

## Execute code with param null

In [9]:
DECLARE @p1 int = null;
DECLARE @p2 int = 21;
EXEC sp_execute_external_script
  @language = N'Java'
, @script = N'sql.JavaTest1'
, @params = N'@x int, @y int'
, @x = @p1
, @y = @p2;

From the code above, it turns out we need to explicitly check for null values in our code.

## Use out params

In [12]:
DECLARE @p1 int = null;
DECLARE @p2 int = 21;
EXEC sp_execute_external_script
  @language = N'Java'
, @script = N'sql.JavaTest1'
, @params = N'@x int out, @y int'
, @x = @p1 out
, @y = @p2;

SELECT @p1;

(No column name)
42